name: Plugin Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        node-version: [18.19.1, 20.19.1, 22]
        exclude:
          - os: macOS-latest
            node-version: 18.19.1
          - os: windows-latest
            node-version: 18.19.1
          - os: macOS-latest
            node-version: 20.19.1
          - os: windows-latest
            node-version: 20.19.1
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
      - run: npm ci
        name: NPM Install
      - name: Linting
        run: npm run format:ci
        if: "${{ matrix.node-version == '20.19.1' }}"
      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 2.5.6
      - name: Run tests
        run: npm run test
